body {
    background-color: #ffffff;
    font-family: 'Andada Pro', serif;
  }
  .container {
    width: 90%;
    margin: 0 auto;
    padding: 120px 0;
  }
  
  .half_width {
    width: 45%;
  }
  
  .flex_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .brand_color {
    color: green;
  }
  
  .section_heading {
    font-size: 40px;
    color: #575757;
    width: 80%;
    font-weight: 700;
  }
  
  .section_content {
    font-size: 19px;
    color: #828282;
    width: 100%;
    text-align: justify;
    margin: 30px 0px;
  }
  
  .brand_button {
    display: inline-block;
    background-image: linear-gradient(green, yellowgreen);
    padding: 15px 40px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
  }
  
  .banner_image img {
    width: 90%;
    height: auto;
    object-fit: contain;
  }

  #about_us {
    background-image: url("./images/about-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .about_us_image img {
    width: 90%;
    height: auto;
    object-fit: contain;
  }

  .section_title {
    text-align: center;
    margin: 0 auto 30px auto;
    font-size: 35px;
    color: #575757;
    font-weight: 700;
  }
  
  .section_text {
    font-size: 19px;
    color: #828282;
    text-align: center;
    width: 70%;
    margin: 30px auto;
  }
  
  .recipe_card {
    width: 30%;
  }
  
  .card {
    background-color: #fff;
    border-radius: 45px;
    margin-top: 50px;
    box-shadow: 10px 2px 30px #808080;
    padding: 30px;
  }
  
  .card_image {
    width: 100%;
    margin: 0 auto;
    height: auto;
    border-radius: 30px;
    object-fit: contain;
  }
  
  .card_title {
    color: #575757;
    font-size: 25px;
    font-weight: 900;
    margin: 30px 0px 10px 0;
  }
  
  .card_description {
    font-size: 17px;
    color: #828282;
    width: 100%;
    text-align: justify;
  }

  .contact_us_form {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px auto 0 auto;
    background-color: #fff;
    border-radius: 40px;
    padding: 70px;
    box-shadow: 10px 2px 30px #808080;
  }
  
  .contact_us_form input, textarea {
    border: none;
    background-color: #F0FFF0;
    padding: 20px 35px;
    border-radius: 20px;
    font-size: 17px;
    width: 500px;
    margin-top: 10px;
    display: block;
  }
  
  .contact_us_form input, textarea:focus {
    outline: 0;
  }
  
  .section_title {
    text-align: center;
    margin: 0 auto 30px auto;
    font-size: 35px;
    color: #575757;
    font-weight: 700;
  }
  
  .section_text {
    font-size: 19px;
    color: #828282;
    text-align: center;
    width: 70%;
    margin: 30px auto;
  }
  
  .recipe_card {
    width: 30%;
    
  }
  
  .card {
    background-color: #fff;
    border-radius: 45px;
    margin-top: 50px;
    box-shadow: 10px 2px 30px #808080;
    padding: 30px;
  }
  
  .card_image {
    width: 100%;
    margin: 0 auto;
    height: auto;
    border-radius: 30px;
    object-fit: contain;
  }
  
  .card_title {
    color: #575757;
    font-size: 25px;
    font-weight: 900;
    margin: 30px 0px 10px 0;
  }
  
  .card_description {
    font-size: 17px;
    color: #828282;
    width: 100%;
    text-align: justify;
  }

  #social_media {
    background-color: #e7dede;
  }
  
  .social_media_container {
    display: flex;
    justify-content: space-around;
    padding: 80px 0;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 10px 2px 30px #808080;
  }
  
  .single_social_item h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    margin: 10px 0px;
  }
  
  .single_social_item p {
    text-align: center;
    font-size: 18px;
    color: #828282;
  }
  
  footer {
    background-color: #000;
  }
  
  footer h3 {
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 20px;
    color: #e7dede;
    text-align: center;
  }
  
  footer p {
    font-size: 17px;
    color: #e7dede;
    text-align: center;
  }